/* Contenedor principal */
.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  background: wheat;
  border-radius: 12px;
  box-shadow: wheat 14px;
}

/* Pantalla */
.display {
  width: 100%;
  height: 60px;
  background:wheat;
  color: #0f0;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;
}

/* Botones */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background: #444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

/* Hover */
button:hover {
  background: #555;
}

/* Botón igual */
button.equal {
  grid-column: span 2;
  background: mediumaquamarine;
}

button.equal:hover {
  background: mediumaquamarine;
}

/* Botón limpiar */
button.clear {
  background: mediumorchid;
}

button.clear:hover {
  background: mediumorchid;
}
